# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# Dataset
data/
*.tar.gz

# Feature caches
cache/
cache_log_mel/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
